{# Insert all the actions to appear on the dashboard #}

{#
i.e. You can insert link to other dashboard or information related to user, etc.
<ul>
{# PageEdit dashboard #}
    <li>
        <a href="{{ path('pageedit_dashboard') }}">
            {{ 'label.dashboard'|trans({}, 'pageedit') ~ ' (PageEdit)' }}</a>
    </li>
</ul>
#}