{% extends "@c975LUserFiles/layout.html.twig" %}
{% trans_default_domain 'userFiles' %}
{% set title = 'label.request_password_change'|trans %}

{% block userfiles_content %}
    {% if is_granted('ROLE_USER') %}
        {% include('@c975LUserFiles/pages/alreadySignedIn.html.twig') %}
        <p class="text-center">
            <a href="{{ path('fos_user_change_password') }}" rel="nofollow" title="{{ 'label.change_password'|trans }}">
                {{ 'label.change_password'|trans }}</a>
        </p>
    {% else %}
        {% include('@c975LUserFiles/Resetting/request_content.html.twig') %}
    {% endif %}
{% endblock %}