{% extends "@c975LUserFiles/layout.html.twig" %}
{% trans_default_domain 'userFiles' %}
{% set title = 'label.reset_password'|trans %}

{% block userfiles_content %}
    <p class="alert alert-warning text-center">
        {{ 'password.requirement'|trans({}, 'validators') }}
    </p>
    {% include('@FOSUser/Resetting/reset_content.html.twig') %}
{% endblock %}