{% extends "@c975LUserFiles/layout.html.twig" %}
{% trans_default_domain 'userFiles' %}
{% set title = 'label.account_created'|trans %}

{% block userfiles_content %}
    <p class="alert alert-info text-center">
        {{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}
    </p>
{% endblock %}