{% extends "@c975LUserFiles/layout.html.twig" %}
{% trans_default_domain 'userFiles' %}
{% set title = 'label.signin_create_account'|trans %}

{% block userfiles_content %}
{# Already signed in #}
    {% if is_granted('ROLE_USER') %}
        {% include('@c975LUserFiles/pages/alreadySignedIn.html.twig') %}
{# Registration #}
    {% else %}
{# Information #}
        <p class="alert alert-info text-center">
            {{ 'text.register_info'|trans }}
        </p>
{# Password requirement #}
        <p class="alert alert-warning text-center">
            {{ 'password.requirement'|trans({}, 'validators') }}
        </p>
{# Form #}
        {% include('@c975LUserFiles/Registration/register_content.html.twig') %}
{# Mandatory field #}
        <p class="text-muted">
            <em>
                {{ 'label.mandatory_field'|trans }}
            </em>
        </p>
    {% endif %}
{% endblock %}