{# Insert all the actions to appear on the navbarMenu #}

{#
i.e. You can insert link to other dashboard or any kind of needed information
You can also make test to check if user has access rights
Don't need to open/close the ul as it's done in the navbarMenu.html.twig file
{# PageEdit dashboard #}
{% if is_granted('ROLE_ADMIN') %}
    <li>
        <a href="{{ path('pageedit_dashboard') }}">
            {{ 'label.dashboard'|trans({}, 'pageedit') ~ ' (PageEdit)' }}</a>
    </li>
{% endif %}
#}