{% extends "@c975LUserFiles/layout.html.twig" %}
{% trans_default_domain 'userFiles' %}
{% set title = 'label.change_password'|trans %}

{% block userfiles_content %}
{# Avatar #}
    {% if gravatar_display() == true %}
        <p class="text-center">
            <img class="img-circle" src="{{ app.user.avatar }}" width="128" height="128" />
        </p>
    {% endif %}
{# Password requirement #}
    <p class="alert alert-warning text-center">
        {{ 'password.requirement'|trans({}, 'validators') }}
    </p>
{# Form #}
    {% include('@c975LUserFiles/ChangePassword/change_password_content.html.twig') %}
{# Mandatory field #}
    <p class="text-muted">
        <em>
            {{ 'label.mandatory_field'|trans }}
        </em>
    </p>
{% endblock %}